@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #0B091A;
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    color: white;
    position: relative;
}